* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }
html { scroll-behavior: smooth; }
body { background: #000; color: #fff; overflow-x: hidden; }


.tela-inicial, .secao-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tela-inicial {
    height: 100vh;
    background: url('Red.png') center/cover no-repeat fixed;
    z-index: 2;
}

.tela-inicial h1 { 
    color: #ff0033; 
    letter-spacing: 5px; 
    font-size: 2.5rem;
    text-shadow: 0 0 15px rgba(255, 0, 51, 0.6);
}

.seta { 
    font-size: 40px; 
    margin-top: 20px;
    animation: piscar 1.5s infinite; 
    text-decoration: none;
    color: inherit;
}

@keyframes piscar {
    50% { opacity: 0.2; transform: translateY(15px); }
}


.secao-video { min-height: 120vh; overflow: hidden; }

.video-blur-bg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 110%; height: 110%;
    object-fit: cover;
    filter: blur(50px) brightness(1);
    opacity: 0;
    transition: opacity 2s;
    z-index: 1;
}

.caixa-video {
    z-index: 5;
    width: 100%; max-width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.1) translateY(100px);
    transition: all 6767ms cubic-bezier(0.2, 0.8, 0.2, 1);
}


.video-blur-bg.ativo { opacity: 0.7; }
.caixa-video.ativo { 
    opacity: 1; 
    transform: scale(1) translateY(0);
    box-shadow: 0 0 80px rgba(0, 255, 42, 0.568);
}

video { width: 100%; display: block; }
